{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section>
        <h2>About Me</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim, elit vel cursus ultricies, tortor tellus ultrices lacus, quis lacinia sem lectus vitae velit.</p>
    </section>
    <section>
    <h2> About website</h2>
        <p>This page is a comprehensive dictionary where you can write for translation a one word to another language.</p> <p>Whether you're looking to expand your vocabulary or simply clarify the meaning of a specific term, My Dictionary is here to help.</p>
        <p>Start by click the link in the bar above</p>
    </section>
{% endblock content %}